.mrbean {
    height: 200px;
    margin: auto;  
}

.macha-heading {
    color: #ff4081;
    font-family: Comic Sans MS;
    font-size: 80px;
    text-align: center;
}
.macha-container{
    text-align: center;
    
}
.effect-container{
    margin-top: 20px;
}
.hover-class{
    transition: all .2s ease-in-out; 
}
.hover-class:hover{
    transform: scale(1.1);
}



.effect-container-single p {
    margin: 0px;
    text-align: center;
}
.effect-container-single .class-name {
     color: #616161;
}

.effect-container-single a {
    border-radius: 50%;
    display: block;
    height: 60px;
    margin: auto;
    width: 60px;
}