.mrbean {
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 150px;
}

.macha-heading {
    color: #ff4081;
    font-family: Comic Sans MS;
    font-size: 80px;
    text-align: center;
}
.effect-container{
    margin-top: 210px;
}

.effect-container-single {
    float: left;
    margin: 8px;
}

.effect-container-single p {
    margin: 0px;
    text-align: center;
}
.effect-container-single .class-name {
     color: #616161;
}

.effect-container-single a {
    border-radius: 50%;
    display: block;
    height: 60px;
    margin: auto;
    width: 60px;
}